.dashboard-page {
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }
  .col {
    padding-right: 12px;
    padding-left: 12px;
  }
  .border-box {
    overflow: hidden;
  }
}
.counter-item {
  .item-inner {
    height: 128px;
    border: 1px solid $border-color-split;
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h3 {
    margin-bottom: 32px;
    color: $black-6;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  p {
    margin-bottom: 0;
    color: $text-color-dark;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
  span.rate {
    border-radius: 21px;
    i {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 4px;
      vertical-align: middle;
      svg {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        vertical-align: top;
        transform: rotate(-90deg);
        fill: $green-6;
      }
    }
    &.ant-tag-error {
      i {
        svg {
          transform: rotate(90deg);
          fill: $error-color;
        }
      }
    }
  }
  &.counter-info-link {
    &.has-experro-icon {
      position: relative;
      &:after {
        position: absolute;
        right: 12px;
        bottom: 0;
        width: 180px;
        height: 120px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5817 7.14118C14.5057 3.99544 18.5366 2.84128 21.838 4.49089C25.221 6.18131 26.6581 10.2212 25.0997 13.6599L23.9434 16.2112C22.2272 19.4104 18.5869 20.9787 14.9426 20.9688C12.7357 20.9628 10.5709 21.2915 9.69306 22.4484C7.6809 25.1005 4.52787 26.9413 1.19698 26.7372L0.618104 26.7017L12.5817 7.14118Z' fill='%234F46E5'%3E%3C/path%3E%3Cellipse rx='1.56796' ry='1.56804' transform='matrix(0.999282 0.0385764 -0.0378955 0.999255 19.8399 9.10002)' fill='white'%3E%3C/ellipse%3E%3Cpath d='M27.4826 9.89353C27.6345 9.97389 27.7826 10.0656 27.9318 10.1718C27.5645 10.2782 27.2215 10.4127 26.8923 10.5825C26.6588 10.7029 26.4379 10.8382 26.2246 10.9883L26.2246 9.47523C26.7403 9.57138 27.1354 9.70988 27.4826 9.89353Z' fill='white' stroke='%234F46E5' stroke-width='1.74897'%3E%3C/path%3E%3Cpath d='M6.51777 7.17893C7.18419 8.73581 9.34143 10.0344 11.2156 9.54722L7.93654 14.9395C6.89709 14.0153 5.59172 10.736 6.51777 7.17893Z' fill='%234F46E5'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
        opacity: 0.1;
        content: ' ';
      }
    }
    &.bg-theme {
      .item-inner {
        color: $white;
        background-color: $blue-8;
        & * {
          color: $white;
        }
        svg {
          fill: $white;
        }
      }
    }
    .item-inner {
      padding: 16px 24px;
    }
    h4 {
      margin-bottom: 8px;
      color: $text-color;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    h6 {
      margin-bottom: 22px;
      color: $text-color-gray-light;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
    .link-icon-button {
      padding: 0;
      background: none;
      border: none;
    }
    .icon-right-arrow {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      svg {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        vertical-align: top;
      }
    }
  }
}
.cms-dashboard {
  .counter-item {
    .item-inner {
      padding: 24px;
    }
  }
}

.counter-list-vertical {
  .counter-item {
    width: 100%;

    + .counter-item {
      margin-top: 24px;
    }
  }
}

.dashboard-title {
  color: $black-6;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  word-break: break-all;
}

.dashboard-table {


  .col-half {
    width: 50%;
  }

  table {
    max-width: 100%;
  }

  .table-section {
    .ant-table-tbody {
      > tr {
        > td {
          p {
            + p {
              margin-top: 4px;
              color: $text-color-gray-light;
            }

            &.text-truncate {
              max-width: 202px;
              margin-bottom: 4px;
            }
          }
          span {
            &:not(.ant-tag) {
              color: $text-color-gray-light;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
            }
          }
          i {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            vertical-align: middle;
          }
        }
        > th {
          color: $text-color;
        }
      }
    }
  }

  .no-data {
    padding-top: 24px;
  }

  .border-box {
    height: 100%;
    min-height: 270px;
  }
}

.border-box {
  padding: 24px;
  border: 1px solid $border-color-split;
  border-radius: 8px;
  height: 100%;
}

.campaign-block {
  width: 25%;
  .border-box {
    height: 494px;
  }
}
.campaign-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    + li {
      margin-top: 24px;
    }
    span {
      color: $text-color-gray-light;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: top;
        svg {
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          vertical-align: top;
        }
      }
    }
    strong {
      color: $text-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.high-chart-block {
  .border-box {
    overflow: hidden;
  }
  &.full-width {
    width: 100%;
  }
}

.chart-height {
  .highcharts-container {
    height: auto !important;
  }
  svg {
    max-height: 335px;
  }
}

.dashboard-select {
  .select-user-dropdown {
    width: 160px;
  }
}

.min-height-chart {
  min-height: 338px;
}

.counter-item .item-inner,
.border-box {
  position: relative;
}

.dashboard-counter-list {
  .border-box {
    padding: 16px;
  }
}
.dashboard-four-col {
  .border-box {
    padding: 16px;
    overflow: hidden;
  }
  p.no-data-fount-text {
    width: 92px;
    margin: auto;
  }
}
.dasborad-product-grid {
  margin-bottom: 16px;
  .ant-card{
    overflow: hidden;
  }
  
  .ant-col-xl-6 {
    margin-bottom: 16px;
    @media(min-width: 1440px) {
    flex: 0 0 20%;
    max-width: 20%;
  
    }
  }
  .ant-col {
    @media(min-width: 1980px) {
      flex: 0 0 16.66%;
      max-width: 16.66%;
    }
    @media(min-width: 2880px) {
      flex: 0 0 14.28%;
      max-width: 14.28%;
    }
  }
  .ant-card-body {
    padding: 8px 12px 12px;
    h4 {
      margin: 0;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      min-height: 36px;
      max-width: 100%;
      white-space: inherit;
      text-overflow: inherit;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      color: $text-color;
    }
  }
  .ant-card-cover {
    height: 153px;
    background: $background-color-light;
    border-radius: 4px 4px 0px 0px;
    margin: 0;
    @media(min-width:1980px) {
      height: 200px;
    }
    img {
      mix-blend-mode: multiply;
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .productName {
    margin-bottom: 8px;
  }
  .productPrice {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: $text-color;
  }
  .media-content-details {
    margin-top: 8px;
    > div {
      font-size: 12px;
      line-height: 14px;
      + div {
        margin: 6px 0 0 0;
      }
    }
    span {
      text-transform: capitalize;
    }
    p {
      word-break: break-word;
      color: $text-color;
      &.text-green {
        color: $success-color;
      }
    }
  }
}
.no-data-found-dashboard {

  position: relative;
  z-index: 9;
  height: 100%;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(16px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
  }
}
.no-data-found-text-dashboard {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);

  svg {
    width: 100%;
    max-height: inherit;
  }

}
p.no-data-fount-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  z-index: 9;
  color: $text-color-gray-light;
}
.no-data-found-dashboard div[data-highcharts-chart] {
  opacity: 0;
}
