.profile-image-section {
    border-bottom: 1px solid $black-3;
}

.profile-action {
   border-top: 1px solid $black-3;
}

.security-tab {
    .strength {
        margin-top: -24px;
        margin-bottom: 32px;
    }
  .filters {
    .borderless-select {
      &:hover {
        .ant-select-selector {
          background-color: transparent;
        }
      }
      .ant-select-selector {
        margin-left: 8px;
        padding: 0 8px;

      }
      &.ant-select-open {
        color: $text-color;
      }
    }
  }
}
