.Spinner {
  position: fixed;
  // z-index: 99999;
  // width: 100%;
  width: calc(100% - 64px);
  height: 100%;
  top: 0;
  right: 0;
  background: #F4F7FA;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 215px;
  }
}

#root {
  > .Spinner {
    width: 100%;
    left: 0;
  }
}
